.controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.button-controls {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.button-row {
    display: flex;
    gap: 10px;
}

.button {
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #8f7a66;
    color: #f9f6f2;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    width: 60px;
}

.button:hover {
    background-color: #9f8a76;
}

.button:active {
    background-color: #7f6a56;
}